header{
    background-color: rgb(173, 106, 106);
    
} 
header .navbar-brand{
    color: bisque;
}

header .navbar-brand:hover{
    color: rgb(134, 218, 218);
}

header .nav-item .nav-link{
    color: bisque;
}

header .d-flex .btn {
    color: rgb(255, 255, 255);
}

header .nav-item .nav-link:hover{
    color: rgb(134, 218, 218);
}
.container-text {
    margin-top: 20px;
}
 .col-text{
    margin-top: 100px;
 }
.col-text2{
    
}
 .container-2-text{
    margin-top: 20px
 }
 .col-text2{
    border: 2px solid green;
    border-radius: 5px;
    color: rgb(124, 194, 142);
 }

 .heading-tag1{
    color: rgb(26, 51, 32);
 }
 .container-text-1{
    margin-top: 20px;

 }
 .col-text1{
    color: rgb(124, 194, 142);
    border: 2px solid green;
    border-radius: 5px;

 }
 .heading-tag2{
    color: rgb(26, 51, 32); 
 }
 
 